<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <base href="/">
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript" src="<%= webpack_path "dist/inline.bundle.js" %>"></script>
  <script type="text/javascript" src="<%= webpack_path "dist/polyfills.bundle.js" %>"></script>
  <script type="text/javascript" src="<%= webpack_path "dist/styles.bundle.js" %>"></script>
  <script type="text/javascript" src="<%= webpack_path "dist/vendor.bundle.js" %>"></script>
  <script type="text/javascript" src="<%= webpack_path "dist/main.bundle.js" %>"></script>
</html>
